#logo { height:80px;width:80px; float:left;padding:10px;}

#main {margin-top:-130px;min-height:650px;min-width:600px;padding-left:30px;
	padding-right:30px; background-color: #e0e0e0;cursor:pointer;
background-image: url(back1.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}
/**Makes the items appear in a line. But you can't define the width of an inline element.**/
#footer li{
	text-align: center;
    display:inline;
    float:left;
}
#sign-in-level { margin-top:20px;}
#about-level {margin-top:20px;}
#sign-in {color:black;}
#about {color:black;}
#login { margin-top:30px;}
#footer { color:gray;text-align:center; padding-top:30px; padding-bottom:90px; width:100%;opacity:0.55;
}
#footer:hover { opacity:1.0; 
    -moz-transition: all 0.4s ease-out;  /* FF4+ */
    -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.4s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.4s ease-out;  /* IE10? */
    transition: all 0.4s ease-out;  }
.navbar {margin-bottom:30px; }

#start-apply { margin-top:225px; color:white;}
#user-identify {text-align:center;font-size:40px;font-family: 'Playfair Display', serif;}
.choose { font-size:40px;margin-top:20px; font-family: 'Playfair Display', serif;}
#student-start {text-align:center;float:left;width:200px;font-family: 'Playfair Display', serif;}
#company-start {text-align:center;float:right;width:200px;font-family: 'Playfair Display', serif;}

#student-apply { margin-top:175px; color:white;display:none;}
#student-identify { text-align:center;font-size:40px;font-family: 'Playfair Display', serif;}
.student-choose {margin-top:20px;padding:8px;}

#designer-start { text-align:center;float:left;height:260px;width:250px;margin:10px;}
#hacker-start {text-align:center;float:left;height:260px;width:250px;margin:10px;}
#hustler-start {text-align:center;float:left;height:260px;width:250px;margin:10px;}
p.student-title { font-size:40px;}
p.student-title-blurb { font-size:18px;}

#divider {text-align:center;float:left;margin:20px;}

#landing-caption {float:none;color:white;font-size:20px;margin-top:150px;}

.nav > li > a{
    display:inline; /**Allows you to define a width.*//
    text-align:center;
    padding:15px;
    text-decoration:none;
color:gray; }

.nav > li > a:hover, .nav > li > a:focus { background-color:white;color:black; 

    -moz-transition: all 0.4s ease-out;  /* FF4+ */
    -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.4s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.4s ease-out;  /* IE10? */
    transition: all 0.4s ease-out;  }

a { color:gray;}
a:hover { -moz-transition: all 0.4s ease-out;  /* FF4+ */
    -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.4s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.4s ease-out;  /* IE10? */
    transition: all 0.4s ease-out;  }

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
     display:table;
}